@import 'https://fonts.googleapis.com/css?family=Roboto';
h1,h2,h3,h4,h5.h6 {
font-family:'Roboto' , sans-serif;
}
.HAM {
  width:40px;
  margin-top:40px;
  }
  .h1 {
    font-size:36px;
    color:lightgray;
    margin-top: 60px;
  }
.top-section {
  background: url('../img/main-bg.jpg') no-repeat center;
  width:100%;
  background-size: cover;
  padding-left:25px;
  height:400px;
}
.product {
  width:50%;
  float:left;
}
.product img {
  width:100%;
}
button {
  width:200px;
  background:white;
  border-radius:20px;
  margin-top:35px;
}
